 .App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 40%;
  border:none;
  padding:15px;
}

.search-button {
  background: #f08080;
  border: none;
  padding: 15px 30px;
  color: #fff; 
} 

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
}

.image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}